doctype
html
	include head
	body

		.light-container
			.title Alexandria
			img(src='img/alexandria/a-1.png')
			img(src='img/alexandria/a-2.png')
			img(src='img/alexandria/a-3.png')
			img(src='img/alexandria/a-4.png')
			.desc Lorem ipsum Commodo magna id et ad exercitation qui adipisicing.Lorem ipsum Commodo magna id et ad exercitation qui adipisicing.Lorem ipsum Commodo magna id et ad exercitation qui adipisicing.Lorem ipsum Commodo magna id et ad exercitation qui adipisicing.

			
	
	